/*LOGO SUPERIOR Y NAV*/
.alto{
    height: 50px;
    @media (min-width: 1000px) {height: 120px;}
}
.imgLogo1, .imgLogo2{
    position: absolute;
    width: 10%;
}
.imgLogo2{
    margin-left: 8%;
    animation-name: logo;
    animation-duration: 1.5s;
}
    @keyframes logo{
        from{
            transform: translateX(-80%);
        }
        to{
            transform: translateX(0);
        }
}

.fixed{
    position: fixed;
}

/*FIN LOGO SUPERIOR Y NAV*/