/*SERVICES*/

.imgServices{
    width: 250px;
    height: 250px;
    border-radius: 150px;
    border: white solid 6px;
    margin-left: 10%;
    margin-bottom: 20%;
}

.servParrafo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: grey;
    font-size: 30px;
    margin-left: 15%;
}

/*FIN SERVICES*/